@use '../../index.module.scss' as colors;

.products__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h3{
        margin: 0;
        font-family: "Gilroy-Bold";
        font-size: 46px;
        color: colors.$primaryColor;
    }
    .p{
        font-family: "Rockness-Regular";
        font-size: 65px;
        position: absolute;
        top: -50px;
        color: colors.$accentColor;
    }
}
.cards__container{
    margin-top: 140px;
    margin-bottom: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px #67859E26;
    border-radius: 24px;
    width: 40%;
    color: colors.$primaryColor;
    box-sizing: border-box;
    padding: 2% 5% 5% 5%;
    hr{
        width: 50px;
        border: 2px solid colors.$accentColor;
    }
    h5{
        font-family: "Gilroy-Bold";
        font-size: 46px;
        margin: 0;
    }
    
    p{
        font-family: "Gilroy-Regular";
        font-size: 20px;
    }
    img{
        width: 100%;    
        margin-top: auto;
    }
}
@media only screen and (max-width: 955px) {
      .card{
        width: 50vw;
        p{
           text-align: center;
        }
    }
  }
@media only screen and (max-width: 800px) {
    .cards__container {
      flex-direction: column;
      align-items: center;
    }
  }
  @media only screen and (max-width: 600px) {
      .card{
          width: 60vw;
          padding: 4% 7% 8% 7%;
          p{
             text-align: center;
             font-size: 17px;
          }
          h5{
            font-size: 35px;
        }  
      }
  }
  @media only screen and (max-width: 450px) {
    .products__container{
        h3{
            font-size: 35px;
        }
        .p{
            font-size: 55px;
        }
    }
      .cards__container {
        margin-top: 100px;
      }
}