footer {
  height: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 1%;
  background-color: #283e51;
  color: white;
  z-index: -2;
  overflow-x: hidden;
}
.footer__services {
  font-family: "Gilroy-Light";
  font-weight: 200;
  font-size: 26px;
}
.footer__contact_us--container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer__contact_us--container img {
  width: 320px !important;
  margin-left: 35px;
}
.footer__contact_us {
  position: absolute;
  margin-bottom: 60px;
  font-family: "Gilroy-Bold";
  font-size: 50px;
}
.footer__map {
  height: 700px;
  position: absolute;
  top: 21%;
  margin-left: 50px;
}
.footer__message {
  width: 470px;
  height: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 11px 14px 11px 14px;
  margin-top: 160px;
  border-radius: 8px;
  font-family: "Gilroy-Regular";
  font-size: 22px;
  color: #283e51;
  background-color: white;
  z-index: 2;
}
.message__logo{
  height: 40px;
}
.message__emoji{
  height: 25px;
}
.footer__message p {
  opacity: 80%;
  margin-left: 20px;
  margin-right: 10px;
  z-index: 3;
}
.footer__message--point {
  width: 55px;
  height: 55px;
  position: relative;
  top: -54px;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  background-color: white;
  z-index: -1;
}
.footer__logo {
  margin-top: 150px;
}
.footer__info {
  width: 350px;
  font-family: "Gilroy-UltraLight";
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.footer__info p {
  margin: 10px;
}
.footer__info hr {
  width: 130px;
  border: none;
  border-top: 1px solid white;
  margin-top: 25px;
  margin-bottom: 20px;
}
.footer__dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.185);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}
.footer__dot::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  font-family: "Gilroy-UltraLight";
  font-size: 20px;
  color: white;
}
.footer__icons {
  display: flex;
  gap: 12px;
}
.footer__icons img {
  cursor: pointer;
}
.footer__copyright {
  position: absolute;
  bottom: 0px;
  font-family: "Gilroy-UltraLight";
  color: white;
  opacity: 50%;
  font-size: 20px;
}


@media only screen and (max-width: 1445px) {
  footer {
    height: 830px;
  }
  .footer__map {
    top: 180px;
    width: 1100px;
    height: auto;
    margin-right: 15px;
  }
  .footer__services {
    font-size: 20px;
  }
  .footer__contact_us--container {
    margin-top: 20px;
  }
  .footer__contact_us--container img {
    margin-left: 28px;
    width: 230px !important;
  }
  .footer__contact_us {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .footer__message {
    width: 370px;
    height: 50px;
    display: flex;
    margin-top: 105px;
    font-size: 15px;
  }
  .footer__message p{
    margin-right: 20px;
  }
  .footer__message--point {
    top: -28px;
    width: 30px;
    height: 30px;
  }
  .footer__dot {
    width: 20px;
    height: 20px;
    margin-top: -15px;
  }
  .footer__dot::before {
    width: 10px;
    height: 10px;
  }
  .footer__logo {
    margin-top: 110px;
    width: 220px;
  }
  .footer__info {
    font-size: 15px;
    margin-top: 20px;
  }
  .footer__info p {
    margin: 5px;
  }
  .footer__info hr {
    width: 90px;
    border: none;
    border-top: 1px solid white;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer__socials {
    margin-top: 45px;
    font-size: 15px;
  }
  .footer__icons {
    display: flex;
    gap: 8px;
  }
  .footer__icons img {
    cursor: pointer;
    width: 32px;
  }
  .footer__copyright {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .footer__message {
    width: 300px;
    text-align: center;
  }
  .footer__message img{
    height: 30px;
  }
}
@media only screen and (max-width: 350px) {
  .footer__message {
    width: 270px;
    text-align: center;
  }
}
